
{% extends "sil12VitrineBundle:BackOffice:layout.html.twig" %}


{% block content %}
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Liste des promotion</h3>
        </div>
        <div class="panel-body">
            <table class="table records_list">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Reduction</th>
                        <th>Limite d'usages</th>
                        <th>Utilisé</th>
                        <th>Coupon</th>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Produit</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('promotion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.name }}</td>
                        <td>{{ entity.description }}</td>
                        <td>{{ entity.reduction }}</td>
                        <td>{{ entity.usageLimit }}</td>
                        <td>{{ entity.used }}</td>
                        <td>{{ entity.coupon }}</td>
                        <td>{% if entity.start %}{{ entity.start|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if entity.end %}{{ entity.end|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ entity.manyToMany }}</td>
                        <td>
                        <ul>
                            <li>
                                <a href="{{ path('promotion_show', { 'id': entity.id }) }}">voir</a>
                            </li>
                            <li>
                                <a href="{{ path('promotion_edit', { 'id': entity.id }) }}">editer</a>
                            </li>
                        </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('promotion_new') }}">
                        Ajouter une promotion
                    </a>
                </li>
            </ul>
        </div>
    </div> 
</div>
{% endblock %}