<!DOCTYPE html>
<html class="demo-1 no-js">
    <head>
    	<meta charset="UTF-8" />
        <title>{% block title %}HATme.com{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('bundles/sil12vitrine/lib/bootstrap/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/sil12vitrine/css/shapeover.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/sil12vitrine/css/main.css') }}" rel="stylesheet" type="text/css" />
        <script src="{{ asset('bundles/sil12vitrine/js/snap.svg-min.js') }}"></script>
</head>
    <body>
        {% include "sil12VitrineBundle:Default:header.html.twig" %}
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
        {% include "sil12VitrineBundle:Default:footer.html.twig" %}
       
        {#% include 'footer.html.twig' %#}

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ asset('bundles/sil12vitrine/lib/jquery-1.10.2.min.js') }}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ asset('bundles/sil12vitrine/lib/bootstrap/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/sil12vitrine/js/hovers.js') }}"></script>
        <script>
            (function() {
    
                function init() {
                    var speed = 250,
                        easing = mina.easeinout;

                    [].slice.call ( document.querySelectorAll( '#grid > a' ) ).forEach( function( el ) {
                        var s = Snap( el.querySelector( 'svg' ) ), path = s.select( 'path' ),
                            pathConfig = {
                                from : path.attr( 'd' ),
                                to : el.getAttribute( 'data-path-hover' )
                            };

                        el.addEventListener( 'mouseenter', function() {
                            path.animate( { 'path' : pathConfig.to }, speed, easing );
                        } );

                        el.addEventListener( 'mouseleave', function() {
                            path.animate( { 'path' : pathConfig.from }, speed, easing );
                        } );
                    } );
                }

                init();

            })();
        </script>
    </body>
</html>