{% extends "sil12VitrineBundle::layout.html.twig" %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
{% set qte = 1 %}
	<div class="row">
		<div class="col-md-8">
			<a href="#" class="thumbnail"><img src="{{ asset('bundles/sil12vitrine/images/') }}{{ chapeau.id }}.jpg" width="650px"></a>
			<div class="caption">
				<h3>{{ chapeau.name }}</h3>
				<p>{{ chapeau.description }}</p>
				<p><b>Prix : </b>{{ chapeau.price }}€</p>
			</div>
		</div>
		<div class="col-md-4">
			<a onclick="{% set qte = qte - 1 %}" type="button" class="btn btn-default btn-xs">-</a>
						{{ qte }}
						<a onclick="{% set qte = qte + 1 %}" type="button" class="btn btn-default btn-xs">+</a>
			<a href="{{ path('sil12_vitrine_contenuPanier', { 'id': chapeau.id, 'type': 'add'}) }}" type="button" class="btn btn-primary btn-lg btn-block">Ajouter au panier</a>
		</div>
	</div>
</div>
{% endblock %}