{% extends "sil12VitrineBundle::layout.html.twig" %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Panier</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-8">
					{% if chapeau.stock <= 0 %}
						<div class="alert alert-danger">Cet article n'est plus en stock !</div>
					{% endif %}
					<a href="#" class="thumbnail"><img src="{{ asset('bundles/sil12vitrine/images/') }}{{ chapeau.id }}.png" width="650px"></a>
					<div class="caption">
						<h3>{{ chapeau.name }}</h3>
						<p>{{ chapeau.description }}</p>
						<p><b>Prix : </b>{{ chapeau.price }}€</p>
					</div>
				</div>
				<div class="col-md-4">
					<a href="{{ path('sil12_vitrine_addProduct', { 'id': chapeau.id, 'qte': 1}) }}" type="button" class="btn btn-primary btn-lg btn-block" {% if chapeau.stock <= 0 %}disabled{% endif %}>Ajouter au panier</a>

				</div>
			</div>
		</div>
	</div>
	taille : {{boughtWith | length}}
	{% for  product in boughtWith %}
		id :{{ product.id }}
	{% endfor %}
	
</div>











{% endblock %}

