<div class="container-hero" id="container_hero">
	<div class="container">
		<div class="hero">
			<div class="clearfix">
				<h1 class="pull-left" style="margin:0;">
					{% if is_granted('ROLE_ADMIN') %}
					<small>
						<a href="{{ path('sil12_vitrine_backoffice') }}"  class="btn btn-default" role="button">
							Back Office
						</a>
					</small>
					{% endif %}
					<small>
						<a href="{{ path('sil12_vitrine_catalogue') }}">
							Catalogue
						</a>
					</small>
				</h1>
				<div class="pull-right">
					{% if is_granted('ROLE_USER') %}
					<small>
						<a href="{{ path('sil12_vitrine_myorders') }}">
							<span class="glyphicon glyphicon-list"></span>
							Mes commandes
						</a>
					</small>
					{% endif %}
					<small>
						<a href="{{ path('sil12_vitrine_contenuPanier') }}">
							<span class="glyphicon glyphicon-shopping-cart"></span>
							Panier 
							{{ render(controller('sil12VitrineBundle:Panier:showPanier')) }}
						</a>
					</small>
					{% if (is_granted('ROLE_USER')) %}
					<a href="{{ path('logout') }}" class="btn btn-default" role="button">
						Se déconnecter{% if app.user.name is defined %} ( {{ app.user.name }} ){% endif %} <span class="glyphicon glyphicon-log-out"></span>
					</a>
					{% else %}
					<a href="{{ path('sil12_vitrine_auth') }}" class="btn btn-default" role="button">
						Se connecter <span class="glyphicon glyphicon-log-out"></span>
					</a>
					{% endif %}
					
				</div>
			</div>
			<div class="hero-lead">
				<a href="{{ path('sil12_vitrine_accueil') }}"><img src="{{ asset('bundles/sil12vitrine/img/') }}logo.png" height="45px">
				<h2>HATme.com</h2></a>
				<p class="lead">
					In hats we trust since men lose their hair
				</p>
			</div>
		</div>
	</div>
</div>