{% extends "sil12VitrineBundle::layout.html.twig" %}

{% block content %}
<div class="col-md-6 col-md-offset-3 home">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Produits phares</h3>
		</div>
		<div class="panel-body">
			<div class="row">
  			{% for chapeau in mostBought %}
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<a href="{{ path('sil12_vitrine_chapeau', { 'id': chapeau.chapeau.id }) }}" title="Description">
			    			<img src="{{ asset('bundles/sil12vitrine/images/') }}{{ chapeau.chapeau.id }}.png" width="100px">
			    		</a>
			    		<div class="caption">
							<p class="title_block">
								<a href="{{ path('sil12_vitrine_chapeau', { 'id': chapeau.chapeau.id }) }}" title="Description">{{ chapeau.chapeau.name }}
								</a>
							</p>
							<div class="product_desc">
								<a href="{{ path('sil12_vitrine_chapeau', { 'id': chapeau.chapeau.id }) }}" title="Description">{{ chapeau.chapeau.description }}</a>
							</div>
							<div>
								<a class="lnk_more" href="{{ path('sil12_vitrine_chapeau', { 'id': chapeau.chapeau.id }) }}" title="Plus d'infos">
									Plus d'infos
								</a>
								<p class="price_container">
									{% if chapeau.proms | length > 0 %}
										{% set price = chapeau.chapeau.price %}
										{% for prom in chapeau.proms %}
											<div class="prom"><b>{{prom.name}} -{{prom.reduction}}% !</b></div>
											{% set price = price - (price / prom.reduction) %}
										{% endfor %}
										<span class="price"><s>{{ chapeau.chapeau.price }}€</s>    <span class="new-price"><b>{{price | number_format(2)}}€</b></span></span>
									{% else %}
										<span class="price">{{ chapeau.chapeau.price }} €</span>
									{% endif %}
								</p>						
								<a class="add_to_cart_button" href="{{ path('sil12_vitrine_addProduct', { 'id': chapeau.chapeau.id, 'qte': 1}) }}" title="Ajouter au panier">
									Ajouter au panier
								</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Nouveaux produits</h3>
		</div>
		<div class="panel-body">
			<div class="row">
  			{% for product in lastAdd %}
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<span class="new">Nouveau</span>
						<a href="{{ path('sil12_vitrine_chapeau', { 'id': product.chapeau.id }) }}" title="Description" class="product_image">
				    		<img src="{{ asset('bundles/sil12vitrine/images/') }}{{ product.chapeau.id }}.png" width="100px">
				    		
				    	</a>

			    		<div class="caption">
							<p class="title_block">
								<a href="{{ path('sil12_vitrine_chapeau', { 'id': product.chapeau.id }) }}" title="Description">{{ product.chapeau.name }}
								</a>
							</p>
							<div class="product_desc">
								<a href="{{ path('sil12_vitrine_chapeau', { 'id': product.chapeau.id }) }}" title="Description">{{ product.chapeau.description }}</a>
							</div>
							<div>
								<a class="lnk_more" href="{{ path('sil12_vitrine_chapeau', { 'id': product.chapeau.id }) }}" title="Plus d'infos">
									Plus d'infos
								</a>
								<p class="price_container">
									{% if product.proms | length > 0 %}
										{% set price = product.chapeau.price %}
										{% for prom in product.proms %}
											<div class="prom"><b>{{prom.name}} -{{prom.reduction}}% !</b></div>
											{% set price = price - (price / prom.reduction) %}
										{% endfor %}
										<span class="price"><s>{{ product.chapeau.price }}€</s>    <span class="new-price"><b>{{price | number_format(2)}}€</b></span></span>
									{% else %}
										<span class="price">{{ product.chapeau.price }} €</span>
									{% endif %}
								</p>						
								<a class="add_to_cart_button"  href="{{ path('sil12_vitrine_addProduct', { 'id': product.chapeau.id, 'qte': 1}) }}" title="Ajouter au panier">
									Ajouter au panier
								</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}