{% extends "sil12VitrineBundle:BackOffice:layout.html.twig" %}


{% block content %}

    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Catégorie</h3>
            </div>
            <div class="panel-body">
                <table class="table record_properties">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ entity.name }}</td>
                        </tr>
                    </tbody>
                </table>

                <ul class="record_actions">
                    <li>
                        <a href="{{ path('category') }}">
                            Retour à liste
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('category_edit', { 'id': entity.id }) }}">
                            Editer
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>
                </ul>
            </div>
        </div>  
    </div>
{% endblock %}
