{% extends "sil12VitrineBundle::layout.html.twig" %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Panier</h3>
		</div>
		<div class="panel-body">
			<table class="table table-striped">
				<thead>
			        <tr>
			        	<th>Photo</th>
			        	<th>Nom</th>
			        	<th>Description</th>
			        	<th>Prix</th>
			        	<th width="100">Quantité</th>
			        </tr>
			    </thead>
			    <tbody>
			    	{% for elem in panier %}
						<tr>
							<td><img src="{{ asset('bundles/sil12vitrine/images/') }}{{ elem.product.id }}.jpg" width="250px"></td>
							<td>{{ elem.product.name }}</td>
							<td>{{ elem.product.description }}</td>
							<td>{{ elem.product.price }}</td>
							<td  style="text-align:center">
								<a href="{{ path('sil12_vitrine_contenuPanier', { 'id': elem.product.id, 'type': 'del' }) }}" type="button" class="btn btn-default btn-xs">-</a>
								{{ elem.qte }}
								<a href="{{ path('sil12_vitrine_contenuPanier', { 'id': elem.product.id, 'type': 'add' }) }}" type="button" class="btn btn-default btn-xs">+</a>
								<a href="{{ path('sil12_vitrine_contenuPanier', { 'id': elem.product.id, 'type': 'rem' }) }}">
									<span class="glyphicon glyphicon-trash"></span>
								</a>
							</td>
						</tr>
					{% endfor %}
			   </tbody>
			</table>
			<a href="{{ path('sil12_vitrine_validationPanier')}}" type="button" class="btn btn-primary btn-lg pull-right" {% if panier | length < 1 %}disabled{% endif %}>Commander</a>
		</div>
	</div>
</div>
{% endblock %}