{% extends "sil12VitrineBundle:BackOffice:layout.html.twig" %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Voir une commande</h3>
        </div>
        <div class="panel-body">
            <table class="table record_properties">
                <tbody>
                    <tr>
                        <th>Référence</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Order_date</th>
                        <td>{{ entity.orderdate|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Validé</th>
                        <td>{{ entity.validated }}</td>
                    </tr>
                </tbody>
            </table>

            <ul class="record_actions">
                <li>
                    <a href="{{ path('orderhat') }}">
                        Retour à la liste
                    </a>
                </li>
                <li>
                    <a href="{{ path('orderhat_edit', { 'id': entity.id }) }}">
                        Editer
                    </a>
                </li>
                <li>{{ form(delete_form) }}</li>
            </ul>
    </div>  
</div>
{% endblock %}
